.page {
    display        : flex;
    flex-direction : column;
    gap            : var(--gap-primary);
    padding        : var(--padding-secondary);
    padding-top    : 0;


    .list {
        display        : flex;
        flex-direction : column;
        gap            : var(--gap-secondary);
        padding        : var(--padding-tertiary);
        background     : var(--border);
        border-radius  : var(--radius-primary);
        transition     : background 250ms var(--transition);

        .title {
            color          : var(--text-active);
            font-size      : var(--font-size-secondary);
            padding-bottom : var(--gap-tertiary);
            transition     : color 250ms var(--transition);
        }

        .item {
            display : flex;
            gap     : var(--gap-secondary);

            svg {
                color      : var(--text);
                transition : color 250ms var(--transition);
            }

            p {
                color      : var(--text);
                font-size  : var(--font-size-secondary);
                transition : color 250ms var(--transition);
            }
        }
    }
}

.todo {
    fill : darkorange;
}

.done {
    fill : yellowgreen;
}