.section {
    display        : flex;
    flex-direction : column;
    width          : 100vw;
    overflow       : hidden;
    padding        : var(--padding-secondary);
    gap            : var(--gap-primary);
    padding-top    : 0;
    padding-bottom : 0;

    .heading {
        display         : flex;
        justify-content : space-between;
        align-items     : center;
        padding         : var(--padding-tertiary);
        border-radius   : var(--radius-primary);
        background      : var(--border);
        transition      : background 250ms var(--transition);
    }

    .wrapper {
        display                    : flex;
        overflow-x                 : auto;
        gap                        : var(--gap-primary);
        scroll-snap-type           : x mandatory;
        -webkit-overflow-scrolling : touch;
        scrollbar-width            : none;

        &::-webkit-scrollbar {
            display : none;
        }
    }
}