@use "../../styles/breakpoints";

.navigation {
    display     : flex;
    align-items : center;
    flex        : 1;
    gap         : var(--gap-primary);
    position    : relative;

    .nav_button {
        all             : unset;
        display         : flex;
        align-items     : center;
        justify-content : center;
        color           : var(--text);
        font-size       : var(--font-size-secondary);
        font-weight     : 500;
        cursor          : pointer;
        padding         : var(--padding-tertiary);
        transition      : color 250ms var(--transition);
        z-index         : 999;

        @include breakpoints.up(desktop) {

            &:hover {
                color : var(--text-active);
            }
        }

        &.active {
            color : var(--text-active);
        }
    }

    .indicator {
        position       : absolute;
        height         : 100%;
        background     : var(--border);
        border-radius  : var(--radius-primary);
        transition     : left 250ms var(--transition), width 250ms var(--transition), background 250ms var(--transition);
        pointer-events : none;
        z-index        : 998;
    }
}