.navigation {
    display         : flex;
    justify-content : space-between;
    align-items     : center;
    padding         : var(--padding-outer);

    .nav_button {
        all             : unset;
        display         : flex;
        align-items     : center;
        justify-content : center;
        color           : var(--text);
        font-size       : .9rem;
        font-weight     : 500;
        cursor          : pointer;
        transition      : color 250ms var(--transition), background 250ms var(--transition);

        &:hover, &.active {
            color : var(--text-active);
        }
    }

    .theme_button {
        all             : unset;
        display         : flex;
        align-items     : center;
        justify-content : center;
        color           : var(--text);
        cursor          : pointer;
        transition      : color 250ms var(--transition), background 250ms var(--transition);
    }
}