@use "../../../components/Card/shared";

.page {
    display        : flex;
    flex-direction : column;
    height         : 100%;
    overflow       : hidden;
    min-width      : 0;

    .not_found {
        display         : flex;
        align-items     : center;
        justify-content : center;
        height          : 100%;
    }

    .heading {
        display         : flex;
        justify-content : space-between;
        align-items     : center;
        padding         : var(--padding-secondary);
        padding-bottom  : 0;

        .info {
            display        : flex;
            flex-direction : column;
            gap            : var(--gap-tertiary);
        }

        .heading_actions {
            display : flex;
            gap     : var(--gap-tertiary);
        }

        .action {
            all           : unset;
            font-size     : var(--font-size-secondary);
            color         : var(--text);
            cursor        : pointer;
            padding       : var(--padding-tertiary);
            background    : var(--border);
            border-radius : var(--radius-primary);
            transition    : color 250ms var(--transition),
            background 250ms var(--transition);

            &:hover {
                color : var(--text-active);
            }
        }
    }
}

.card {
    @include shared.base;

    .image {
        @include shared.image;

        svg {
            @include shared.svg;

            circle {
                fill       : var(--orange);
                stroke     : none;
                transition : fill 250ms var(--transition);
            }
        }
    }

    .properties {
        @include shared.properties;
    }
}