@use "../../styles/breakpoints";

.page {
    display        : flex;
    flex-direction : column;
    height         : 100%;

    .no_data {
        display         : flex;
        flex-direction  : column;
        align-items     : center;
        justify-content : center;
        height          : 100%;
        gap             : var(--gap-secondary);
    }

    .heading {
        padding        : var(--padding-secondary);
        padding-bottom : 0;
    }

    .list {
        display        : flex;
        flex-direction : column;
        gap            : var(--gap-secondary);
        padding        : var(--padding-tertiary);
        overflow-y     : auto;
        flex           : 1;

        .item {
            display         : flex;
            justify-content : space-between;
            align-items     : center;
            gap             : var(--gap-secondary);
            background      : var(--border);
            border-radius   : var(--radius-primary);
            padding         : var(--padding-tertiary);
            transition      : background 250ms var(--transition);

            .item_link {
                all            : unset;
                display        : flex;
                flex-direction : column;
                gap            : var(--gap-tertiary);
                flex           : 1;
                cursor         : pointer;
            }

            .name {
                font-size   : var(--font-size-secondary);
                font-weight : 600;
                color       : var(--text-active);
                transition  : color 250ms var(--transition);
            }

            .dates {
                font-size  : var(--font-size-secondary);
                color      : var(--text);
                transition : color 250ms var(--transition);
            }

            .item_actions {
                display : flex;
                gap     : var(--gap-tertiary);
            }

            .action {
                all           : unset;
                font-size     : var(--font-size-secondary);
                color         : var(--text);
                cursor        : pointer;
                padding       : var(--padding-tertiary);
                border-radius : var(--radius-primary);
                transition    : color 250ms var(--transition),
                background 250ms var(--transition);

                &:hover {
                    color : var(--text-active);
                }
            }
        }
    }

    .actions {
        display    : flex;
        padding    : var(--padding-tertiary);
        border-top : 1px solid var(--border);
        transition : border-color 250ms var(--transition);

        a {
            all           : unset;
            font-size     : var(--font-size-secondary);
            color         : var(--text);
            cursor        : pointer;
            padding       : var(--padding-tertiary);
            border-radius : var(--radius-primary);
            background    : var(--border);
            transition    : color 250ms var(--transition),
            background 250ms var(--transition);

            &:hover {
                color : var(--text-active);
            }
        }
    }
}